<%= render partial: 'spree/shared/error_messages', locals: {target: @page} %>

<%= form_for(@page, url: admin_page_path) do |f| %>
  <fieldset class="no-border-top">
    <%= render partial: 'form', locals: {f: f} %>
    <div class="clear"></div>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
